#signup{
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#signup-button{
    width: 97px;
    height: 52px;
    border-radius: 0px 12px 12px 0px;
    background-color: #1B88F4;
    color: #FFFFFF;
    border: none;
}

#signup-input{
    height: 52px;
    width: 348px;
    border-radius: 12px 0px 0px 12px;
    background-color: #FFFFFF;
    border: none;
}

#signup-text{
    padding-left: 2rem;
    font-size: 32px;
    font-weight: 400;
    color: #2C384A;
}

@media(max-width: 800px){
    #signup-button{
        height: 35px;
        width: 75px;
    }
    #signup-input{
        width: 180px;
        height: 35px;
    }
    #signup-text{
        font-size: 25px;
    }
}

@media(max-width:680px){
    #signup{
        padding-top: 4rem;
        padding-bottom: 2rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #signup-text{
        font-size: 20px;
    }
}